# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/LabWork01_IOorganizaion/x64
/LabWork01_IOorganizaion/Task01_DataInputOutput/x64
/LabWork01_IOorganizaion/Task01_DataInputOutput/x64
/LabWork01_IOorganizaion/Task02_TypeConversion/x64
